<div class="row text-sm">
    <div class="col-12 text-left">
        <h4 class="text-pink"><strong>RESOURCE DATA PERALATAN</strong></h4>
        <div class="d-flex flex-wrap">
            <a class="btn btn-sm btn-pink d-inline-block" mdbWavesEffect [routerLinkActive]="['active']" [routerLink]="['./kategori-peralatan']">KATEGORI PERALATAN</a>
            <a class="btn btn-sm btn-pink d-inline-block" mdbWavesEffect [routerLinkActive]="['active']" [routerLink]="['./tupoksi-perawatan-peralatan']">TUPOKSI PERAWATAN</a>
            <a class="btn btn-sm btn-pink d-inline-block" mdbWavesEffect [routerLinkActive]="['active']" [routerLink]="['./lisensi-peralatan']">LISENSI PERALATAN</a>
            <a class="btn btn-sm btn-pink d-inline-block" mdbWavesEffect [routerLinkActive]="['active']" [routerLink]="['./checklist-sertifikasi']">CHECKLIST SERTIFIKASI</a>
            <a class="btn btn-sm btn-pink d-inline-block" mdbWavesEffect [routerLinkActive]="['active']" [routerLink]="['./checklist-verifikasi']">CHECKLIST VERIFIKASI</a>
            <a class="btn btn-sm btn-pink d-inline-block" mdbWavesEffect [routerLinkActive]="['active']" [routerLink]="['./kebutuhan-kalibrasi']">KEBUTUHAN KALIBRASI</a>

        </div>
    </div>     
</div> 

<div class="row">
    <div class="col-md-12 m-auto pt-3">
        <router-outlet></router-outlet>   
    </div>
</div>
