
<section class="online-span text-center">
    <h5 class="text-primary title font-weight-bold wow fadeIn">
        <strong>MASUK SIMPUBU</strong>
    </h5>

    <div *ngIf="error$ | async as error" class="alert alert-danger" role="alert">
        {{ error }}
    </div>

    <div class="row text-white ml-auto">
        <a class="col-3 text-center text-white btn btn-flat btn-pink" role="button" aria-pressed="true" [routerLinkActive]="['active']" [routerLink]="['../login-phone']">
            <i class="fas fa-sms fa-3x"></i><br> <span class="text-sm d-none d-lg-block">PHONE</span>
        </a>

        <a class="col-3 text-center text-white btn btn-flat btn-cyan" role="button" aria-pressed="true" (click)="onGoogleLogin('google')">
            <i class="fab fa-google-plus-g fa-3x"></i><br> <span class="text-sm d-none d-lg-block">GOOGLE</span>
        </a>

        <a class="col-3 text-center text-white btn btn-flat btn-unique" role="button" aria-pressed="true" >
            <i class="fab fa-yahoo fa-3x"></i><br> <span class="text-sm d-none d-lg-block">YAHOO</span>
        </a>

        <a class="col-3 text-center text-white btn btn-flat btn-indigo" role="button" aria-pressed="true" (click)="onFacebookLogin('facebook')">
            <i class="fab fa-facebook-f fa-3x"></i><br> <span class="text-sm d-none d-lg-block">FACEBOOK</span>
        </a>

        <a class="col-3 text-center text-white btn btn-flat btn-info" role="button" aria-pressed="true">
            <i class="fab fa-microsoft fa-4x"></i><br> <span class="text-sm d-none d-lg-block">MS</span>
        </a>

        <a class="col-3 text-white btn btn-flat btn-amber" role="button" aria-pressed="true">
            <i class="fab fa-github fa-4x"></i><br> <span class="text-sm d-none d-lg-block">GITHUB</span>
        </a>

       
    </div>          
  
        
          <button type="button" class="btn btn-primary btn-rounded purple-gradient btn-sm text-center" data-toggle="modal" data-target="#modalYT">VIDEO PANDUAN</button>
  

  <!--Modal: modalYT-->
  <div class="modal fade" id="modalYT" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body mb-0 p-0">
            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-B3dV7TOgaE"allowfullscreen></iframe>
            </div>
        </div>
        <div class="modal-footer justify-content-center flex-column flex-md-row">
          <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">TUTUP</button>
        </div>
      </div>
    </div>
  </div>
  <!--Modal: modalYT-->

</section>




<section class="offline-span">
    <div class="flex-center flex-column">
        <img src="assets/img/error.png" alt="Error 404" class="img-fluid" height="300px" width="300px">
        <h1 class="animated fadeIn mt-4">NO INTERNET CONNECTION</h1>
        <p class="flex-center text-center">Login/Masuk SIMPUBU hanya dapat dilakukan jika perangkat terhubung dengan internet</p>
        <h5 class="animated fadeIn mb-3 mt-3">SIMPUBU - DIREKTORAT BANDAR UDARA</h5>
    </div>
</section>
     