
<mdb-navbar #nav SideClass="navbar navbar-expand-lg navbar-dark blue-gradient">
  <mdb-navbar-brand>
    <img src="assets/logo/perhubungan.png" height="55px" width="55px" class="img-fluid flex-center d-none d-lg-block">
  </mdb-navbar-brand>

  <a class="navbar-brand ml-3 mt-0 d-none d-lg-block" routerLink="/">
    <strong>PORTAL - DJPU </strong> 
      <span style="font-size: 10px" class="online-span"><i class="fas fa-wifi ml-2"></i> MODE ONLINE</span>
      <span style="font-size: 10px" class="offline-span"><i class="fas fa-wifi ml-2 text-danger"></i> MODE OFFLINE</span> 
      <br>
      <strong>
        <span class="font-weight-bold">DIREKTORAT BANDAR UDARA</span>
      </strong> 
  </a>

  <a class="navbar-brand mr-auto mt-0 d-lg-none" routerLink="/">
    <strong><span class="font-weight-bold">SIMPUBU-DBU</span></strong> 
    <span style="font-size: 10px" class="online-span"><i class="fas fa-wifi ml-2"></i> MODE ONLINE</span>
    <span style="font-size: 10px" class="offline-span"><i class="fas fa-wifi ml-2 text-danger"></i> MODE OFFLINE</span>
  </a> 
  
  <links>
  <ul class="navbar-nav nav-flex-icons ml-auto">
    
    <li class="nav-item waves-light d-none d-lg-block">
      <a class="nav-link" routerLink="/personil" routerLinkActive="active" mdbWavesEffect> <i class="fas fa-chalkboard-teacher"></i> PERSONIL</a>
    </li>
    <li class="nav-item waves-light d-lg-none">
      <a class="nav-link" routerLink="/personil" routerLinkActive="active" mdbWavesEffect> <i class="fas fa-chalkboard-teacher mr-auto"></i> PERSONIL</a>
    </li>
    <li class="nav-item waves-light d-none d-lg-block">
      <a class="nav-link" routerLink="/satker" routerLinkActive="active" mdbWavesEffect><i class="fas fa-city"></i> SATKER</a>
    </li>
    <li class="nav-item waves-light d-lg-none">
      <a class="nav-link" routerLink="/satker" routerLinkActive="active" mdbWavesEffect><i class="fas fa-city mr-auto"></i> SATKER</a>
    </li>
    <li class="nav-item waves-light d-none d-lg-block">
      <a class="nav-link" routerLink="/regulasi" routerLinkActive="active" mdbWavesEffect><i class="fas fa-balance-scale"></i> REGULASI</a>
    </li>
    <li class="nav-item waves-light d-lg-none">
      <a class="nav-link" routerLink="/regulasi" routerLinkActive="active" mdbWavesEffect><i class="fas fa-balance-scale mr-auto"></i></a>
    </li>
    <li class="nav-item waves-light d-none d-lg-block" *ngIf="isLoggedIn && isAdmin">
      <a class="nav-link" routerLink="/master-data" routerLinkActive="active" mdbWavesEffect><i class="fas fa-database"></i> MASTER DATA</a>
    </li>
    <li class="nav-item waves-light d-lg-none" *ngIf="isLoggedIn && isAdmin">
        <a class="nav-link" routerLink="/master-data" routerLinkActive="active" mdbWavesEffect><i class="fas fa-database mr-auto"></i></a>
    </li>
    

            

     
   
    <li class="nav-item dropdown mega-dropdown" mdbDropdown>
      <a mdbDropdownToggle class="nav-link dropdown-toggle text-uppercase no-caret" aria-haspopup="true" aria-expanded="false">DBU</a>
      <div class="dropdown-menu mega-menu v-2 row z-depth-1 menu-gradient">
        <div class="row mx-md-4 mx-1">

          <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-5 mb-4">
            <h6 class="sub-title text-uppercase font-weight-bold white-text">FASILITAS - PERALATAN</h6>
            <div class="m-auto white-text">
                <a [routerLinkActive]="['active']" [routerLink]="['./semua-peralatan']" class="col-3 text-center text-white btn btn-flat" role="button">
                    <i class="fab fa-whmcs fa-4x m-auto p-auto"></i><br> <span class="mt-1 menu-desc">SEMUA</span>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['./sisi-udara']" class="col-3 text-center text-white btn btn-flat" role="button">
                  <i class="fas fa-satellite-dish  fa-4x m-auto p-auto"></i><br> <span class="mt-1 menu-desc">SISI UDARA</span>
              </a>

              

                <a [routerLinkActive]="['active']" [routerLink]="['./sisi-darat']" class="col-3 text-center text-white btn btn-flat" role="button" aria-pressed="true">
                    <i class="fas fa-charging-station fa-4x"></i><br> <span class="mt-1 menu-desc">SISI DARAT</span>
                </a>

                <a [routerLinkActive]="['active']" [routerLink]="['./yandar']" class="col-3 text-center text-white btn btn-flat" role="button" aria-pressed="true">
                    <i class="fas  fa-fire-extinguisher fa-4x"></i><br> <span class="mt-1 menu-desc">PKP -PK</span>
                </a>

                <a [routerLinkActive]="['active']" [routerLink]="['./suku-cadang']" class="col-3 text-center text-white btn btn-flat" role="button" aria-pressed="true">
                    <i class="fab fa-steam-symbol fa-4x"></i><br> <span class="mt-1 menu-desc">SPAREPARTS</span>
                </a>

                <a [routerLinkActive]="['active']" [routerLink]="['./kerusakan-perbaikan']" class="col-3 text-white btn btn-flat" role="button" aria-pressed="true">
                    <i class="fas fa-tools fa-4x"></i><br> <span class="mt-1 menu-desc">LKP</span>
                </a>

                <a [routerLinkActive]="['active']" [routerLink]="['./sertifikasi']" class="col-3 text-center text-white btn btn-flat" role="button" aria-pressed="true">
                    <i class="fas fa-edit fa-4x"></i><br> <span class="mt-1 menu-desc">SERTIFIKASI</span>
                </a>

                <a [routerLinkActive]="['active']" [routerLink]="['./verifikasi']"class="col-3 text-center text-white btn btn-flat" role="button" aria-pressed="true">
                    <i class="fas fa-diagnoses fa-4x"></i><br> <span class="mt-1 menu-desc">VERIFIKASI</span>
                </a>

                <a [routerLinkActive]="['active']" [routerLink]="['./kalibrasi']" class="col-3 text-center text-white btn btn-flat" role="button" aria-pressed="true">
                    <i class="fas fa-drafting-compass fa-4x"></i><br> <span class="mt-1 menu-desc">KALIBRASI</span>
                </a>
        </div>     
          </div>

          <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-5 mb-4">
              <h6 class="sub-title text-uppercase font-weight-bold white-text">PERSONIL  BERLISENSI</h6>
              <div class="m-auto white-text">
                  <a [routerLinkActive]="['active']" [routerLink]="['./semua-peralatan']" class="col-3 text-center text-white btn btn-flat" role="button">
                    <i class="fas fa-th-large fa-4x m-auto p-auto"></i><br> <span class="mt-1 menu-desc">DASHBOARD INFORMASI</span>
                </a>
                  <a [routerLinkActive]="['active']" [routerLink]="['./semua-peralatan']" class="col-3 text-center text-white btn btn-flat" role="button">
                      <i class="fas fa-address-card fa-4x m-auto p-auto"></i><br> <span class="mt-1 menu-desc">PENDATAAN PERSONIL</span>
                  </a>
                  <a [routerLinkActive]="['active']" [routerLink]="['./sisi-udara']" class="col-3 text-center text-white btn btn-flat" role="button">
                    <i class="fas fa-redo-alt fa-4x m-auto p-auto"></i><br> <span class="mt-1 menu-desc">PERPANJANG LISENSI</span>
                  </a>
                  <a [routerLinkActive]="['active']" [routerLink]="['./sisi-darat']" class="col-3 text-center text-white btn btn-flat" role="button" aria-pressed="true">
                      <i class="fas fa-user-times fa-4x"></i><br> <span class="mt-1 menu-desc">LISENSI EXPIRES</span>
                  </a>
                  <a [routerLinkActive]="['active']" [routerLink]="['./sisi-darat']" class="col-3 text-center text-white btn btn-flat" role="button" aria-pressed="true">
                    <i class="fas fa-user-plus fa-4x"></i><br> <span class="mt-1 menu-desc">PENGAJUAN BARU</span>
                </a>
          </div>     
        </div>

        <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-5 mb-4">
            <h6 class="sub-title text-uppercase font-weight-bold white-text">SERTIFIKASI SATKER - MITRA</h6>
            <div class="m-auto white-text">
                <a [routerLinkActive]="['active']" [routerLink]="['./semua-peralatan']" class="col-3 text-center text-white btn btn-flat" role="button">
                  <i class="fas fa-th-large fa-4x m-auto p-auto"></i><br> <span class="mt-1 menu-desc">DASHBOARD INFORMASI</span>
              </a>
                <a [routerLinkActive]="['active']" [routerLink]="['./semua-peralatan']" class="col-3 text-center text-white btn btn-flat" role="button">
                    <i class="fas fa-map-marked-alt fa-4x m-auto p-auto"></i><br> <span class="mt-1 menu-desc">PENDATAAN SATKER</span>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['./sisi-udara']" class="col-3 text-center text-white btn btn-flat" role="button">
                  <i class="fas fa-sort-amount-up  fa-4x m-auto p-auto"></i><br> <span class="mt-1 menu-desc">PERPANJANG SERTIFIKAT</span>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['./sisi-darat']" class="col-3 text-center text-white btn btn-flat" role="button" aria-pressed="true">
                    <i class="fas fa-exclamation-triangle fa-4x"></i><br> <span class="mt-1 menu-desc">SERTIFIKAT EXPIRES</span>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['./sisi-darat']" class="col-3 text-center text-white btn btn-flat" role="button" aria-pressed="true">
                  <i class="fas fa-list-alt fa-4x"></i><br> <span class="mt-1 menu-desc">PENGAJUAN BARU</span>
              </a>
        </div>     
      </div>

      <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-5 mb-4">
          <h6 class="sub-title text-uppercase font-weight-bold white-text">REGULASI DBU</h6>
          <div class="m-auto white-text">
              <a [routerLinkActive]="['active']" [routerLink]="['./sisi-darat']" class="col-3 text-center text-white btn btn-flat" role="button" aria-pressed="true">
                <i class="fas fa-th-large fa-4x"></i><br> <span class="mt-1 menu-desc">DASHBOARD INFORMASI</span>
            </a>
              <a [routerLinkActive]="['active']" [routerLink]="['./semua-peralatan']" class="col-3 text-center text-white btn btn-flat" role="button">
                <i class="fas fa-certificate fa-4x m-auto p-auto"></i><br> <span class="mt-1 menu-desc">REGULASI TERBARU</span>
            </a>
              <a [routerLinkActive]="['active']" [routerLink]="['./semua-peralatan']" class="col-3 text-center text-white btn btn-flat" role="button">
                  <i class="fas fa-cogs fa-4x m-auto p-auto"></i><br> <span class="mt-1 menu-desc">REGULASI PERALATAN</span>
              </a>
              <a [routerLinkActive]="['active']" [routerLink]="['./sisi-udara']" class="col-3 text-center text-white btn btn-flat" role="button">
                <i class="fas fa-restroom  fa-4x m-auto p-auto"></i><br> <span class="mt-1 menu-desc">REGULASI PERSONIL</span>
              </a>
              <a [routerLinkActive]="['active']" [routerLink]="['./sisi-darat']" class="col-3 text-center text-white btn btn-flat" role="button" aria-pressed="true">
                  <i class="fas fa-plane-departure fa-4x"></i><br> <span class="mt-1 menu-desc">REGULASI SATKER</span>
              </a>
            
      </div>     
    </div>
        </div>
      </div>
    </li>



    <li class="nav-item waves-light text-white  d-none d-lg-block" *ngIf="isLoggedIn" >
        <button type="button" class="btn btn-sm btn-danger btn-rounded" data-toggle="modal" data-target="#modal-account">
          <i class="fas fa-shield-alt"></i> AKUN ANDA
        </button>
    </li>
    <li class="nav-item waves-light text-white d-lg-none" *ngIf="isLoggedIn">
        <button type="button" class="btn btn-sm btn-danger btn-rounded mr-auto" data-toggle="modal" data-target="#modal-account">
          <i class="fas fa-shield-alt"></i>
        </button>
    </li>


    <li class="nav-item waves-light d-none d-lg-block" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/global-auth/login" routerLinkActive="active" mdbWavesEffect><i class="fas fa-shield-alt"></i> MASUK</a>
    </li>
    <li class="nav-item waves-light d-lg-none" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/global-auth/login" routerLinkActive="active" mdbWavesEffect><i class="fas fa-shield-alt mr-auto"></i></a>
    </li>
  
  </ul>
  <!--
  <form class="form-inline waves-light" mdbWavesEffect>
    <div class="md-form">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
    </div>
  </form>
  -->
  </links>
  
  </mdb-navbar>
  <!--/.Navbar-->



  
  <!--Modal: modal-account-->
  <div class="modal fade right" id="modal-account" tabindex="-1" role="dialog" aria-labelledby="modal-account" aria-hidden="true" data-backdrop="true" *ngIf="isLoggedIn && !isLoading">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <p class="heading">INFORMASI AKUN ANDA</p>
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
  
        <!--Body-->
        <div class="modal-body">
  
          <div class="row">
            <div class="col-5">
              <img src="{{ user.photoUrl }}" class="img-fluid" alt="{{ user.displayName }}">
            </div>
  
            <div class="col-7">
              <p><strong>{{ user.displayName }}</strong></p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit [...]</p>
              <a class="btn btn-info btn-md" routerLink="/kelolah-akun" data-dismiss="modal">KELOLA AKUN</a>
              <button type="button" class="btn btn-danger btn-md" (click)="onLogout();" data-dismiss="modal">LOG OUT</button>
             
  
            </div>
          </div>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!--Modal: modal-account -->