<!--<div style="height: 80vh">
    <div class="flex-center flex-column">
    	<div class="spinner-grow text-primary" role="status" style="width: 4rem; height: 4rem;">
	    <span class="sr-only">Loading...</span>
	  	</div>
    </div>
</div>


-->

<div style="height: 100vh">
    <div class="flex-center flex-column">
  
      <h1 class="text-hide animated fadeIn mb-4"
        style="background-image: url('https://mdbootstrap.com/img/logo/mdb-transparent-250px.png'); width: 250px; height: 90px;">
        MDBootstrap</h1>
      <h5 class="animated fadeIn mb-3">PERALATAN</h5>
  
      <p class="animated fadeIn text-muted">MDB Team</p>
    </div>
  </div>
  
  