<div class="row">
  <div class="col-md-5">
      <form class="form-inline md-form form-sm m-0">
          <input class="form-control form-control-sm" type="text" placeholder="pencarian kategori" aria-label="Search" mdbInput>
      </form>
      <ul class="list-group scrollbar-light-blue">
          <li class="list-group-item d-flex justify-content-between align-items-center" (click)="setKategoriPeralatan($event)" id="1">
            RUNWAY EDGE LIGHT <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center" (click)="setKategoriPeralatan($event)" id="2">
            Dapibus ac facilisis in <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center" (click)="setKategoriPeralatan($event)" id="3">
            Morbi leo risus<span class="badge badge-primary badge-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center" (click)="setKategoriPeralatan($event)" id="4">
              Morbi leo risus<span class="badge badge-primary badge-pill">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center" (click)="setKategoriPeralatan($event)" id="5">
                Morbi leo risus<span class="badge badge-primary badge-pill">1</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center" (click)="setKategoriPeralatan($event)" id="6">
                  Morbi leo risus<span class="badge badge-primary badge-pill">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" (click)="setKategoriPeralatan($event)" id="5">
                    Morbi leo risus<span class="badge badge-primary badge-pill">1</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center" (click)="setKategoriPeralatan($event)" id="6">
                      Morbi leo risus<span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center" (click)="setKategoriPeralatan($event)" id="5">
                        Morbi leo risus<span class="badge badge-primary badge-pill">1</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center" (click)="setKategoriPeralatan($event)" id="6">
                          Morbi leo risus<span class="badge badge-primary badge-pill">1</span>
                        </li>
      </ul>

  </div>

  <div class="col-md-7">
    <div class="row m-auto">
        <form class="form-inline md-form form-sm m-0">
            <input class="form-control form-control-sm mr-2" type="text" placeholder="pencarian peralatan" aria-label="Search" mdbInput>
            <input type="radio" class="form-check-input" id="all" name="all" mdbInput>
            <label class="form-check-label mr-1" for="all">All</label>
        </form>
    </div>

    <div class="row m-auto">
        <div class="list-group m-auto">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                blandit.</p>
              <small>Donec id elit non mi porta.</small>
            </a>

            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                blandit.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a>

            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                blandit.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a>

          </div>
    </div>
  </div>
</div>



<button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" mdbWavesEffect>Launch Modal</button>

<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-5">
            <!--Carousel Wrapper-->
            <mdb-carousel [isControls]="true" [animation]="'slide'">
              <!--First slide-->
              <mdb-slide>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(23).jpg"
                  alt="First slide">
              </mdb-slide>
              <!--/First slide-->
              <!--Second slide-->
              <mdb-slide>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(24).jpg"
                  alt="Second slide">
              </mdb-slide>
              <!--/Second slide-->
              <!--Third slide-->
              <mdb-slide>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(25).jpg"
                  alt="Third slide">
              </mdb-slide>
              <!--/Third slide-->
            </mdb-carousel>
            <!--/.Carousel Wrapper-->
          </div>
          <div class="col-lg-7">
            <h2 class="h2-responsive product-name">
              <strong>Product Name</strong>
            </h2>
            <h4 class="h4-responsive">
              <span class="green-text">
                <strong>$49</strong>
              </span>
              <span class="grey-text">
                <small>
                  <s>$89</s>
                </small>
              </span>
            </h4>

            <!--Accordion wrapper-->
            <mdb-squeezebox [multiple]="false" aria-multiselectable="true">
              <mdb-item [collapsed]="true" *ngFor="let item of itemsList">
                <mdb-item-head> {{ item.title }} </mdb-item-head>
                <mdb-item-body> {{ item.description }} </mdb-item-body>
              </mdb-item>
            </mdb-squeezebox>
            <!--/.Accordion wrapper-->

            <!-- Add to Cart -->
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="md-form">
                    <mdb-select [options]="colorSelect" placeholder="Choose your color"></mdb-select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-form">
                    <mdb-select [options]="sizeSelect" placeholder="Choose your size"></mdb-select>
                  </div>
                </div>
              </div>
              <div class="text-center">

                <button type="button" mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="frame.hide()"
                  data-dismiss="modal">Close</button>
                <button mdbBtn color="primary" class="waves-light" mdbWavesEffect>Add to cart
                  <i class="fas fa-cart-plus ml-2" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <!-- /.Add to Cart -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>