<div class="row">
  <!-- LIST KATEGORI PERALATAN SISI UDARA-->
  <div class="col-md-5">
      <form class="form-inline md-form form-sm mb-0 mt-3">
          <input class="form-control form-control-sm" type="text" placeholder="pencarian kategori" aria-label="Search" mdbInput>
      </form>
      <ul class="list-group scrollbar-light-blue">
          <li class="list-group-item d-flex justify-content-between align-items-center" (click)="setKategoriPeralatan($event)" id="1">
            RUNWAY EDGE LIGHT <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center" (click)="setKategoriPeralatan($event)" id="2">
            Dapibus ac facilisis in <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center" (click)="setKategoriPeralatan($event)" id="3">
            Morbi leo risus<span class="badge badge-primary badge-pill">1</span>
          </li>
      </ul>
  </div>

  <!-- LIST ITEM PERALATAN SISI UDARA -->
  <div class="col-md-7">
    <!-- form pencarian item data peralatan sisi udara -->
    <div class="row m-auto">
        <form class="form-inline md-form form-sm mb-0 mt-3">
            <input class="form-control form-control-sm mr-2" type="text" placeholder="pencarian peralatan" aria-label="Search" mdbInput>
            <input type="radio" class="form-check-input" id="all" name="all" mdbInput>
            <label class="form-check-label mr-1" for="all">All</label>
        </form>
    </div>

    <!-- container peralatan sisi udara -->
    <div class="row m-auto">
        <div class="list-group m-auto">
            <a class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="modal" data-target="#basicExample" (click)="frame.show()">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                blandit.</p>
              <small>Donec id elit non mi porta.</small>
            </a>

            <a class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="modal" data-target="#basicExample" (click)="frame.show()">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                blandit.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a>

            <a class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="modal" data-target="#basicExample" (click)="frame.show()">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                blandit.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
        </div>
    </div>
  </div>
</div>


<!-- container modal detail peralatan -->
<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: true, keyboard: true}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <div class="row">

          <div class="col-lg-5">
              <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
              </div>

              <ul class="list-group mt-5 mb-5">
                  <li class="list-group-item d-flex justify-content-between align-items-center" (click)="setKategoriPeralatan($event)" id="q">
                    DOKUMENT PERALATAN <span class="badge badge-primary badge-pill">14</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center" (click)="setKategoriPeralatan($event)" id="a">
                    LOG PERAWATAN <span class="badge badge-primary badge-pill">2</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center" (click)="setKategoriPeralatan($event)" id="c">
                    LOG KERUSAKAN/PERBAIKAN<span class="badge badge-primary badge-pill">1</span>
                  </li>
                  
              </ul>
          </div>

          <div class="col-lg-7">
            <h5 class="h2-responsive product-name">
              <strong>Nama Peralatan</strong>
            </h5>

            <h4 class="h4-responsive">
              <span class="green-text">
                <strong>$49</strong>
              </span>
              <span class="grey-text">
                <small>
                  <s>$89</s>
                </small>
              </span>
            </h4>

        
            <div class="card-body">
             
              <div class="text-center">

                <button type="button" mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="frame.hide()"
                  data-dismiss="modal">Close</button>
                <button mdbBtn color="primary" class="waves-light" mdbWavesEffect>Add to cart
                  <i class="fas fa-cart-plus ml-2" aria-hidden="true"></i>
                </button>
              </div>
            </div>
         
          </div>
        </div>
      </div>
    </div>
  </div>
</div>