<section class="magazine-section">

  <div class="row">
    <div class="col-md-12 flex-left flex-row">
          <div class="row ">
            <div class="col-md-2 d-none d-lg-block">
                <i class="fab fa-hubspot" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 122, 172) 1px 1px 0px, rgb(52, 127, 179) 2px 2px 0px, rgb(54, 132, 186) 3px 3px 0px, rgb(56, 137, 193) 4px 4px 0px, rgb(58, 142, 200) 5px 5px 0px, rgb(60, 147, 207) 6px 6px 0px, rgb(62, 152, 214) 7px 7px 0px, rgb(64, 157, 221) 8px 8px 0px, rgb(66, 162, 228) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(68, 167, 235);"></i> 
            </div>
            <div class="col-md-10 pt-3 ml-auto">
              <h3>SELURUH PERALATAN</h3>
              <div class="d-flex">
                  <button mdbBtn type="button" color="primary" size="sm" mdbWavesEffect>SERTIFIKAT</button>
                  <button mdbBtn type="button" color="primary" size="sm" mdbWavesEffect>DOKUMENT</button>
                  <button mdbBtn type="button" color="primary" size="sm" mdbWavesEffect>KALIBRASI</button>
                  <button mdbBtn type="button" color="primary" size="sm" mdbWavesEffect>VERIFIKASI</button>
              </div>
            </div>
          </div>
    </div>
  </div>

  <div class="row mt-5">
        <!-- MULAI CONTAINER KIRI -->
        <div class="col-lg-6 col-md-12">

          <!-- container individu item peralatan -->
          <div class="single-news mb-4">
            <div class="row">
               <!-- Column 1 . foto peralatan -->
              <div class="col-md-3">
                <div class="view overlay rounded z-depth-1 mb-4">
                  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/photo8.jpg" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>
              <!-- Column 2 . deskripsi peralatan -->
              <div class="col-md-9">
                <!-- Excerpt -->
                <p class="font-weight-bold dark-grey-text">19/08/2018</p>
                <div class="d-flex justify-content-between">
                  <div class="col-11 text-truncate pl-0 mb-3">
                    <a href="#!" class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                  </div>
                  <a><i class="fas fa-angle-double-right"></i></a>
                </div>
              </div>
            </div>
          </div>
         <!-- selesai container individu item peralatan -->

         <!-- container individu item peralatan -->
         <div class="single-news mb-4">
            <div class="row">
               <!-- Column 1 . foto peralatan -->
              <div class="col-md-3">
                <div class="view overlay rounded z-depth-1 mb-4">
                  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/photo8.jpg" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>
              <!-- Column 2 . deskripsi peralatan -->
              <div class="col-md-9">
                <!-- Excerpt -->
                <p class="font-weight-bold dark-grey-text">19/08/2018</p>
                <div class="d-flex justify-content-between">
                  <div class="col-11 text-truncate pl-0 mb-3">
                    <a href="#!" class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                  </div>
                  <a><i class="fas fa-angle-double-right"></i></a>
                </div>
              </div>
            </div>
          </div>
         <!-- selesai container individu item peralatan -->

         <!-- container individu item peralatan -->
         <div class="single-news mb-4">
            <div class="row">
               <!-- Column 1 . foto peralatan -->
              <div class="col-md-3">
                <div class="view overlay rounded z-depth-1 mb-4">
                  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/photo8.jpg" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>
              <!-- Column 2 . deskripsi peralatan -->
              <div class="col-md-9">
                <!-- Excerpt -->
                <p class="font-weight-bold dark-grey-text">19/08/2018</p>
                <div class="d-flex justify-content-between">
                  <div class="col-11 text-truncate pl-0 mb-3">
                    <a href="#!" class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                  </div>
                  <a><i class="fas fa-angle-double-right"></i></a>
                </div>
              </div>
            </div>
          </div>
         <!-- selesai container individu item peralatan -->

        </div>
        <!-- SELESAI CONTAINER KIRI -->


        <!-- MULAI CONTAINER KANAN -->
        <div class="col-lg-6 col-md-12">

            <!-- container individu item peralatan -->
            <div class="single-news mb-4">
              <div class="row">
                 <!-- Column 1 . foto peralatan -->
                <div class="col-md-3">
                  <div class="view overlay rounded z-depth-1 mb-4">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/photo8.jpg" alt="Sample image">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                </div>
                <!-- Column 2 . deskripsi peralatan -->
                <div class="col-md-9">
                  <!-- Excerpt -->
                  <p class="font-weight-bold dark-grey-text">19/08/2018</p>
                  <div class="d-flex justify-content-between">
                    <div class="col-11 text-truncate pl-0 mb-3">
                      <a href="#!" class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                    </div>
                    <a><i class="fas fa-angle-double-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
           <!-- selesai container individu item peralatan -->

           <!-- container individu item peralatan -->
           <div class="single-news mb-4">
              <div class="row">
                 <!-- Column 1 . foto peralatan -->
                <div class="col-md-3">
                  <div class="view overlay rounded z-depth-1 mb-4">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/photo8.jpg" alt="Sample image">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                </div>
                <!-- Column 2 . deskripsi peralatan -->
                <div class="col-md-9">
                  <!-- Excerpt -->
                  <p class="font-weight-bold dark-grey-text">19/08/2018</p>
                  <div class="d-flex justify-content-between">
                    <div class="col-11 text-truncate pl-0 mb-3">
                      <a href="#!" class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                    </div>
                    <a><i class="fas fa-angle-double-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
           <!-- selesai container individu item peralatan -->

           <!-- container individu item peralatan -->
           <div class="single-news mb-4">
              <div class="row">
                 <!-- Column 1 . foto peralatan -->
                <div class="col-md-3">
                  <div class="view overlay rounded z-depth-1 mb-4">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/photo8.jpg" alt="Sample image">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                </div>
                <!-- Column 2 . deskripsi peralatan -->
                <div class="col-md-9">
                  <!-- Excerpt -->
                  <p class="font-weight-bold dark-grey-text">19/08/2018</p>
                  <div class="d-flex justify-content-between">
                    <div class="col-11 text-truncate pl-0 mb-3">
                      <a href="#!" class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                    </div>
                    <a><i class="fas fa-angle-double-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
           <!-- selesai container individu item peralatan -->

          </div>
          <!-- SELESAI CONTAINER KANAN -->
  </div>
</section>
   
