<section class="magazine-section">

  <div class="row">
    <div class="col-md-12 flex-left flex-row">
          <div class="row ">
            <div class="col-md-2 d-none d-lg-block">
                <i class="fab fa-hubspot" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 122, 172) 1px 1px 0px, rgb(52, 127, 179) 2px 2px 0px, rgb(54, 132, 186) 3px 3px 0px, rgb(56, 137, 193) 4px 4px 0px, rgb(58, 142, 200) 5px 5px 0px, rgb(60, 147, 207) 6px 6px 0px, rgb(62, 152, 214) 7px 7px 0px, rgb(64, 157, 221) 8px 8px 0px, rgb(66, 162, 228) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(68, 167, 235);"></i> 
            </div>
            <div class="col-md-10 pt-3 ml-auto">
              <h2><strong>SELURUH PERALATAN</strong></h2>
              <div class="text-left">
                  <button mdbBtn type="button" class="buttonFilterContent" size="sm" id="umum" mdbWavesEffect (click)="filterContent($event);">UMUM</button>
                  <button mdbBtn type="button" class="buttonFilterContent" size="sm" id="sertifikat" mdbWavesEffect (click)="filterContent($event);">SERTIFIKAT</button>
                  <button mdbBtn type="button" class="buttonFilterContent" size="sm" id="dokument" mdbWavesEffect (click)="filterContent($event);">DOKUMENT</button>
                  <button mdbBtn type="button" class="buttonFilterContent" size="sm" id="kalibrasi" mdbWavesEffect (click)="filterContent($event);">KALIBRASI</button>
                  <button mdbBtn type="button" class="buttonFilterContent" size="sm" id="verifikasi" mdbWavesEffect (click)="filterContent($event);">VERIFIKASI</button>
              </div>
            </div>
          </div>
    </div>
  </div>

  <div class="row mt-5" *ngIf="(currentActiveSection === 'umum')">
      selector : shared/peralatan/all-peralatan/umum
  </div>

  <div class="row mt-5" *ngIf="(currentActiveSection === 'sertifikat')">
      selector : shared/peralatan/all-peralatan/sertifikat
  </div>

  <div class="row mt-5" *ngIf="(currentActiveSection === 'dokument')">
      selector : shared/peralatan/all-peralatan/dokument
  </div>

  <div class="row mt-5" *ngIf="(currentActiveSection === 'kalibrasi')">
      selector : shared/peralatan/all-peralatan/kalibrasi
  </div>

  <div class="row mt-5" *ngIf="(currentActiveSection === 'verifikasi')">
      selector : shared/peralatan/all-peralatan/verifikasi
  </div>
</section>
   
