<footer class="page-footer pt-4 mt-4 text-center text-md-left blue-gradient">

    <div class="container">
      <div class="row">

        <!--First column-->
        <div class="col-md-4 mr-auto">
          <h5 class="text-uppercase mb-3">SIMPUBU - DBU &copy; {{ today | date: 'yyyy' }}</h5>
          <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet,
            consectetur
            adipisicing elit.</p>
        </div>
        <!--/.First column-->

       


        <!--Fourth column-->
        <div class="col-md-4 mr-auto">
          <h5 class="text-uppercase mb-3">LINK TERKAIT</h5>
          <ul class="list-unstyled">
            <li>
              <a href="http://dephub.go.id/">Kementerian Perhubungan Republik Indonesia</a>
            </li>
            <li>
              <a href="http://iaeeta.org">Indonesia Aviation Electronics and Electrical Technician Association</a>
            </li>
            <li>
              <a href="https://www.icao.int">ICAO - International</a>
            </li>
            <li>
              <a href="https://imsis-djpu.dephub.go.id">Portal Direktorat Jenderal Perhubungan Udara</a>
            </li>
            
          </ul>
        </div>
        <!--/.Fourth column-->

        <!--Fourth column-->
        <div class="col-md-4 mr-auto">
          <h5 class="text-uppercase mb-3">SUPPORTS</h5>
          <ul class="list-unstyled">
            <li>
              <a href="http://dephub.go.id/">Kementerian Perhubungan Republik Indonesia</a>
            </li>
            <li>
              <a href="http://iaeeta.org">Indonesia Aviation Electronics and Electrical Technician Association</a>
            </li>
            <li>
              <a href="https://www.icao.int">ICAO - International</a>
            </li>
            <li>
              <a href="https://imsis-djpu.dephub.go.id">Portal Direktorat Jenderal Perhubungan Udara</a>
            </li>
            
          </ul>
        </div>
        <!--/.Fourth column-->

      </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <!--Social buttons-->
    <div class="social-section text-center">
      <ul class="list-unstyled list-inline">

        <li class="list-inline-item">
          <a class="btn-floating btn-dribbble">
            <i class="fab fa-github"> </i>
          </a>
        </li>

        <li class="list-inline-item">
          <a class="btn-floating btn-fb">
            <i class="fab fa-facebook-f"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus">
            <i class="fab fa-google-plus-g"> </i>
          </a>
        </li>
        
        

      </ul>
    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
      <div class="container-fluid">
         KEMENTERIAN PERHUBUNGAN - DIREKTORAT JENDERAL PERHUBUNGAN UDARA
      </div>
    </div>
    <!--/.Copyright-->

</footer>
