<section class="magazine-section">

    <div class="row">
      <div class="col-md-12 flex-left flex-row">
            <div class="row ">
              <div class="col-md-2 d-none d-lg-block">
                  <i class="fas fa-charging-station" style="text-shadow: rgb(25, 136, 106) 0px 0px 0px, rgb(26, 142, 110) 1px 1px 0px, rgb(27, 147, 115) 2px 2px 0px, rgb(28, 153, 119) 3px 3px 0px, rgb(29, 159, 124) 4px 4px 0px, rgb(30, 165, 128) 5px 5px 0px, rgb(31, 171, 133) 6px 6px 0px, rgb(32, 177, 137) 7px 7px 0px, rgb(33, 182, 142) 8px 8px 0px, rgb(34, 188, 146) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(35, 194, 151);"></i> 
              </div>
              <div class="col-md-10 pt-3 ml-auto">
                <h3>PERALATAN SISI DARAT</h3>
                <div class="text-left">
                    <button mdbBtn type="button" class="buttonFilterContent" id="list-peralatan-sisi-darat" size="sm" mdbWavesEffect (click)="filterContent($event);">LIST PERALATAN</button>
                    <button mdbBtn type="button" class="buttonFilterContent" id="print-peralatan-sisi-darat" size="sm" mdbWavesEffect (click)="filterContent($event);">PRINT DATA</button>
                    <button mdbBtn type="button" class="buttonFilterContent" id="add-peralatan-sisi-darat" size="sm" mdbWavesEffect *ngIf="(isAdmin$ | async) || (isAdminSatker$ | async) || !(isLoggedIn$ | async)" (click)="filterContent($event);">TAMBAH DATA BARU</button>
                </div>
              </div>
            </div>
      </div>
    </div>
  
    
    <div class="row mt-5" *ngIf="(currentActiveSection === 'list-peralatan-sisi-darat')">
        <shared-peralatan-sisi-darat-read></shared-peralatan-sisi-darat-read>
      </div>
  
      <div class="row mt-5" *ngIf="(currentActiveSection === 'print-peralatan-sisi-darat')">
          <shared-peralatan-sisi-darat-print></shared-peralatan-sisi-darat-print>
      </div>
  
      <div class="row mt-5" *ngIf="(currentActiveSection === 'add-peralatan-sisi-darat')">
          <shared-peralatan-sisi-darat-create></shared-peralatan-sisi-darat-create>
      </div>
  </section>
     
  