
<section class="ml-5 mr-5">
  <!-- Material form register -->
 <div class="card text-center">
 
     <h5 class="card-header info-color white-text text-center py-4">
         <strong>MASUK SIMPUBU</strong>
     </h5>
 
     <!--Card content-->
     <div class="card-body px-lg-5 pt-0">
        <div *ngIf="error$ | async as error" class="alert alert-danger" role="alert">
            {{ error }}
          </div>
          
          <p class="h4 mb-4 mt-3 text-primary">MASUK MELALUI PONSEL</p>

          <button mdbBtn type="button" color="danger" size="sm" mdbWavesEffect>
            <mdb-icon fas icon="fas fa-sms" class="mr-1"></mdb-icon>SUBMIT NO HP
        </button>
        
          <hr>

          <button mdbBtn type="button" color="primary" size="sm" mdbWavesEffect [routerLinkActive]="['active']" [routerLink]="['../login']">
            <mdb-icon fas icon="fas fa-sms" class="mr-1"></mdb-icon>metode masuk lainnya
          </button>

       
     </div>
 
 </div>
</section>
     