<section class="ml-5 mr-5">
    <div id="recaptcha-container"></div>
  
      <form class="text-center border border-light p-2" [formGroup]="loginPhoneForm " *ngIf="!(windowRef.confirmationResult)">
          <h6 class="mb-5"><strong>MASUK SIMPUBU MENGGUNAKAN HANDPHONE</strong></h6>
          <div *ngIf="error$ | async as error" class="alert alert-danger" role="alert">{{ error }}</div>
        
          <div class="md-form form-sm mt-3 p-0">
              <input mdbInput type="text" class="form-control form-control-sm" mdbValidate type="text" id="no_hp" formControlName="no_hp" required minlength="10" maxlength="12">
              <label for="no_hp" class="">Masukan No. Handphone Anda</label>
              <mdb-error *ngIf="no_hp && no_hp.invalid && no_hp.errors && no_hp.errors.required && no_hp.errors.pattern && (no_hp.dirty || no_hp.touched)">no. handphone tidak valid</mdb-error>
              <mdb-error *ngIf="no_hp && no_hp.invalid && no_hp.errors && no_hp.errors.minlength && (no_hp.dirty || no_hp.touched)">no. handphone harus min. 10 digit & max. 12 digit</mdb-error>
          </div>

          
        
          <button class="btn btn-sm btn-pink" type="submit" (click)="onPhoneLogin()">SUBMIT</button>
          <button class="btn btn-sm btn-info" [routerLinkActive]="['active']" [routerLink]="['../login']">BATAL</button>
      </form>

  
    <div *ngIf="windowRef.confirmationResult"  class="text-center border border-light p-2">
        
        <h6><strong>KONFIRMASI KODE VERIFIKASI MASUK</strong></h6>
        <p class="mb-5">kode dikirm ke no handphone</p>
        <div class="md-form form-sm mt-3 p-0">
        <input mdbInput type="text" class="form-control form-control-sm" mdbValidate type="text" id="code" name="code" [(ngModel)]="verificationCode" required required minlength="6">
        <label for="code" class="">masukan Kode yang diterima</label>
        </div>
  
      <button class="btn btn-sm btn-pink" type="submit" (click)="verifyLoginCode()">SUBMIT</button>
      <button class="btn btn-sm btn-info" (click)="onPhoneLogin()">RESEND CODE</button>
             
     
    </div>

</section>
       
  



