
<section class="ml-5">
    <h5 class="h5 font-weight-bold text-center purple-text">DASHBOARD PERALATAN - LEVEL ADMIN SATKER</h5>
    <!--Section description-->
    <p class="px-5 lead grey-text text-center mb-0">PANDUAN PENGOPERASIAN MENU PERALATAN</p>
    <div class="px-5 lead grey-text text-center mb-2">
        <button type="button" class="btn btn-primary btn-rounded purple-gradient" data-toggle="modal" data-target="#modalYT">VIDEO PANDUAN - ADMIN SATKER</button>
    </div>

  

<!--Modal: modalYT-->
<div class="modal fade" id="modalYT" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-B3dV7TOgaE"allowfullscreen></iframe>
        </div>
      </div>
      <div class="modal-footer justify-content-center flex-column flex-md-row">
        <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">TUTUP</button>
      </div>
    </div>
  </div>
</div>
<!--Modal: modalYT-->
  
    <!--Grid row-->
    <p class="px-5 lead grey-text text-center">KETERANGAN ICON MENU</p>
    <div class="row">
  
      <!--Grid column-->
      <div class="col-md-6">
  
        <!--Grid row-->
        <div class="row mb-2">
          <div class="col-2">
            
            <i class="fab fa-3x fa-hubspot purple-text"></i>
          </div>
          <div class="col-10 text-left">
            <h5 class="font-weight-bold purple-text">SEMUA PERALATAN</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
              nam,
              aperiam minima assumenda
              deleniti hic.</p>
          </div>
        </div>
        <!--Grid row-->
  
        <!--Grid row-->
        <div class="row mb-2">
          <div class="col-2">
              <i class="fas fa-3x fa-charging-station purple-text"></i>
          </div>
          <div class="col-10 text-left">
            <h5 class="font-weight-bold purple-text">SISI DARAT</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
              nam,
              aperiam minima assumenda
              deleniti hic.</p>
          </div>
        </div>
        <!--Grid row-->
  
        <!--Grid row-->
        <div class="row mb-2">
          <div class="col-2">
            <i class="fas fa-3x fa-tools purple-text"></i>
          </div>
          <div class="col-10 text-left">
            <h5 class="font-weight-bold purple-text">KERUSAKAN</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
              nam,
              aperiam minima assumenda
              deleniti hic.</p>
          </div>
        </div>
        <!--Grid row-->


        <!--Grid row-->
        <div class="row mb-2">
            <div class="col-2">
              <i class="fas fa-3x fa-edit purple-text"></i>
            </div>
            <div class="col-10 text-left">
              <h5 class="font-weight-bold purple-text">SERTIFIKASI</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                nam,
                aperiam minima assumenda
                deleniti hic.</p>
            </div>
          </div>
          <!--Grid row-->


           <!--Grid row-->
        <div class="row mb-2">
            <div class="col-2">
              <i class="fas fa-3x fa-drafting-compass purple-text"></i>
            </div>
            <div class="col-10 text-left">
              <h5 class="font-weight-bold purple-text">KALIBRASI</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                nam,
                aperiam minima assumenda
                deleniti hic.</p>
            </div>
          </div>
          <!--Grid row-->
  
      </div>
      <!--Grid column-->


      
  
     
  
      <!--Grid column-->
      <div class="col-md-6">
  
        <!--Grid row-->
        <div class="row mb-2">
          <div class="col-2">
              <i class="fas fa-3x fa-satellite-dish purple-text"></i>
          </div>
          <div class="col-10 text-left">
            <h5 class="font-weight-bold purple-text">SISI UDARA</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
              nam,
              aperiam minima assumenda
              deleniti hic.</p>
          </div>
        </div>
        <!--Grid row-->
  
        <!--Grid row-->
        <div class="row mb-2">
          <div class="col-2">
              <i class="fas fa-3x fa-ambulance purple-text"></i>
          </div>
          <div class="col-10 text-left">
            <h5 class="font-weight-bold purple-text">YANDAR</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
              nam,
              aperiam minima assumenda
              deleniti hic.</p>
          </div>
        </div>
        <!--Grid row-->
  
        <!--Grid row-->
        <div class="row mb-2">
          <div class="col-2">
              <i class="fab fa-3x fa-steam-square purple-text"></i>
          </div>
          <div class="col-10 text-left">
            <h5 class="font-weight-bold purple-text">SUKU CADANG</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
              nam,
              aperiam minima assumenda
              deleniti hic.</p>
          </div>
        </div>
        <!--Grid row-->



        <!--Grid row-->
        <div class="row mb-2">
            <div class="col-2">
              <i class="fas fa-3x fa-diagnoses purple-text"></i>
            </div>
            <div class="col-10 text-left">
              <h5 class="font-weight-bold purple-text">VERIFIKASI</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                nam,
                aperiam minima assumenda
                deleniti hic.</p>
            </div>
          </div>
          <!--Grid row-->


           <!--Grid row-->
        <div class="row mb-2">
            <div class="col-2">
              <i class="fas fa-3x fa-chalkboard-teacher purple-text"></i>
            </div>
            <div class="col-10 text-left">
              <h5 class="font-weight-bold purple-text">MONITORING</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                nam,
                aperiam minima assumenda
                deleniti hic.</p>
            </div>
          </div>
          <!--Grid row-->
  
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--/Section: Features v.4-->