
<section class="section mt-5 mb-5 py-3">

  <div class="row pt-2 mt-5">
    <div class="col-lg-5 col-md-12 mb-3">

      
      <i id="sisi-udara" class="fa fa-th-large m-2" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 122, 172) 1px 1px 0px, rgb(52, 127, 179) 2px 2px 0px, rgb(54, 132, 186) 3px 3px 0px, rgb(56, 137, 193) 4px 4px 0px, rgb(58, 142, 200) 5px 5px 0px, rgb(60, 147, 207) 6px 6px 0px, rgb(62, 152, 214) 7px 7px 0px, rgb(64, 157, 221) 8px 8px 0px, rgb(66, 162, 228) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(68, 167, 235);"></i> 


    <i id="sisi-udara" class="fa fa-road m-2" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 122, 172) 1px 1px 0px, rgb(52, 127, 179) 2px 2px 0px, rgb(54, 132, 186) 3px 3px 0px, rgb(56, 137, 193) 4px 4px 0px, rgb(58, 142, 200) 5px 5px 0px, rgb(60, 147, 207) 6px 6px 0px, rgb(62, 152, 214) 7px 7px 0px, rgb(64, 157, 221) 8px 8px 0px, rgb(66, 162, 228) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(68, 167, 235);"></i> 
     



    <i id="sisi-udara" class="fa fa-hotel m-2" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 122, 172) 1px 1px 0px, rgb(52, 127, 179) 2px 2px 0px, rgb(54, 132, 186) 3px 3px 0px, rgb(56, 137, 193) 4px 4px 0px, rgb(58, 142, 200) 5px 5px 0px, rgb(60, 147, 207) 6px 6px 0px, rgb(62, 152, 214) 7px 7px 0px, rgb(64, 157, 221) 8px 8px 0px, rgb(66, 162, 228) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(68, 167, 235);"></i> 
     

    <i id="sisi-udara" class="fa fa-fire-extinguisher m-2" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 122, 172) 1px 1px 0px, rgb(52, 127, 179) 2px 2px 0px, rgb(54, 132, 186) 3px 3px 0px, rgb(56, 137, 193) 4px 4px 0px, rgb(58, 142, 200) 5px 5px 0px, rgb(60, 147, 207) 6px 6px 0px, rgb(62, 152, 214) 7px 7px 0px, rgb(64, 157, 221) 8px 8px 0px, rgb(66, 162, 228) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(68, 167, 235);"></i> 
     



    <i id="semua-peralatan" class="fa fa-th-large m-2" style="text-shadow: rgb(132, 91, 179) 0px 0px 0px, rgb(137, 95, 186) 1px 1px 0px, rgb(143, 99, 194) 2px 2px 0px, rgb(149, 103, 201) 3px 3px 0px, rgb(154, 107, 209) 4px 4px 0px, rgb(160, 111, 217) 5px 5px 0px, rgb(165, 114, 224) 6px 6px 0px, rgb(171, 118, 232) 7px 7px 0px, rgb(177, 122, 240) 8px 8px 0px, rgb(182, 126, 247) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(188, 130, 255);"></i> 
     



    <i id="sisi-darat" class="fa fa-hotel m-2" style="text-shadow: rgb(179, 78, 142) 0px 0px 0px, rgb(186, 82, 148) 1px 1px 0px, rgb(194, 85, 154) 2px 2px 0px, rgb(201, 88, 160) 3px 3px 0px, rgb(209, 92, 166) 4px 4px 0px, rgb(217, 95, 173) 5px 5px 0px, rgb(224, 99, 179) 6px 6px 0px, rgb(232, 102, 185) 7px 7px 0px, rgb(240, 105, 191) 8px 8px 0px, rgb(247, 109, 197) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(255, 112, 203);"></i> 


    <i id="yandar" class="fa fa-fire-extinguisher m-2" style="text-shadow: rgb(179, 55, 97) 0px 0px 0px, rgb(186, 58, 101) 1px 1px 0px, rgb(194, 60, 105) 2px 2px 0px, rgb(201, 62, 109) 3px 3px 0px, rgb(209, 65, 113) 4px 4px 0px, rgb(217, 67, 117) 5px 5px 0px, rgb(224, 70, 121) 6px 6px 0px, rgb(232, 72, 126) 7px 7px 0px, rgb(240, 74, 130) 8px 8px 0px, rgb(247, 77, 134) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(255, 79, 138);"></i> 

     

     <i id="grafik" class="fas fa-chart-bar m-2" style="text-shadow: rgb(179, 142, 41) 0px 0px 0px, rgb(186, 148, 43) 1px 1px 0px, rgb(194, 154, 45) 2px 2px 0px, rgb(201, 160, 47) 3px 3px 0px, rgb(209, 166, 48) 4px 4px 0px, rgb(217, 173, 50) 5px 5px 0px, rgb(224, 179, 52) 6px 6px 0px, rgb(232, 185, 54) 7px 7px 0px, rgb(240, 191, 55) 8px 8px 0px, rgb(247, 197, 57) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(255, 203, 59);"></i> 


     <i id="suku-cadang" class="fab fa-steam-symbol m-2" style="text-shadow: rgb(3, 152, 92) 0px 0px 0px, rgb(3, 158, 96) 1px 1px 0px, rgb(3, 165, 100) 2px 2px 0px, rgb(3, 171, 104) 3px 3px 0px, rgb(3, 178, 108) 4px 4px 0px, rgb(3, 184, 112) 5px 5px 0px, rgb(4, 191, 116) 6px 6px 0px, rgb(4, 197, 120) 7px 7px 0px, rgb(4, 204, 124) 8px 8px 0px, rgb(4, 210, 128) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(4, 217, 132);"></i> 
     
                    
      </div>

   
      <div class="col-lg-7 mr-auto col-md-12">

                     
                    <mdb-card-reveal #cards>
  <!-- Card front -->
  <div class="card card-front">
    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo11.jpg" alt="Card image cap">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->
    <!--Card content-->
    <div class="card-body">
      <!--Social shares button-->
      <a class="activator mr-2">
        <i class="fas fa-share-alt" (click)="cards.toggle()"></i>
      </a>
      <!--Title-->
      <h4 class="card-title">Card title</h4>
      <hr>
      <!--Text-->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
        card's content.</p>
      <a class="link-text">
        <h5 class="waves-light" mdbWavesEffect>Read more
          <i class="fas fa-chevron-right waves-light" mdbWavesEffect></i>
        </h5>
      </a>
    </div>
    <!--/.Card content-->
  </div>
  <!--/.Card Front-->

  <!-- Card reveal -->
  <div class="card-reveal white">

    <!-- Content -->
    <div class="content text-center">

      <h4 class="card-title font-weight-bold py-4">Social shares
        <i class="fas fa-times text-muted" (click)="cards.toggle()"></i>
      </h4>
      <hr>
      <!-- Social Icons -->
      <ul class="list-unstyled list-inline d-flex justify-content-center flex-wrap">
        <li class="list-inline-item">
          <a mdbBtn floating="true" class="btn-dribbble">
            <i class="fab fa-dribbble"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" class="btn-slack">
            <i class="fab fa-slack"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" class="btn-ins">
            <i class="fab fa-instagram"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" class="btn-pin">
            <i class="fab fa-pinterest"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" class="btn-tw">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" class="btn-gplus">
            <i class="fab fa-google-plus"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" class="btn-git">
            <i class="fab fa-github"> </i>
          </a>
        </li>
      </ul>
      <h5 class="font-weight-bold my-4">Join our community</h5>
      <hr>
      <!-- Social Icons -->
      <ul class="list-unstyled list-inline d-flex justify-content-center flex-wrap mt-4">
        <li class="list-inline-item">
          <a mdbBtn class="btn-fb px-4">
            <i class="fab fa-facebook-f"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn class="btn-tw px-4">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn class="btn-li px-4">
            <i class="fab fa-linkedin-in"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn class="btn-ins px-4">
            <i class="fab fa-instagram"> </i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Card reveal -->
</mdb-card-reveal>

                  </div>
                  <!-- Grid column -->

              </div>
              <!-- Grid row -->

</section>

