
<section class="section mt-5 mb-5 py-3">

  <div class="row pt-2 mt-5">
    <div class="col-lg-5 col-md-12 mb-3">

      
      <i id="sisi-udara" class="fa fa-th-large m-2" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 122, 172) 1px 1px 0px, rgb(52, 127, 179) 2px 2px 0px, rgb(54, 132, 186) 3px 3px 0px, rgb(56, 137, 193) 4px 4px 0px, rgb(58, 142, 200) 5px 5px 0px, rgb(60, 147, 207) 6px 6px 0px, rgb(62, 152, 214) 7px 7px 0px, rgb(64, 157, 221) 8px 8px 0px, rgb(66, 162, 228) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(68, 167, 235);"></i> 


    <i id="sisi-udara" class="fa fa-road m-2" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 122, 172) 1px 1px 0px, rgb(52, 127, 179) 2px 2px 0px, rgb(54, 132, 186) 3px 3px 0px, rgb(56, 137, 193) 4px 4px 0px, rgb(58, 142, 200) 5px 5px 0px, rgb(60, 147, 207) 6px 6px 0px, rgb(62, 152, 214) 7px 7px 0px, rgb(64, 157, 221) 8px 8px 0px, rgb(66, 162, 228) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(68, 167, 235);"></i> 
     



    <i id="sisi-udara" class="fa fa-hotel m-2" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 122, 172) 1px 1px 0px, rgb(52, 127, 179) 2px 2px 0px, rgb(54, 132, 186) 3px 3px 0px, rgb(56, 137, 193) 4px 4px 0px, rgb(58, 142, 200) 5px 5px 0px, rgb(60, 147, 207) 6px 6px 0px, rgb(62, 152, 214) 7px 7px 0px, rgb(64, 157, 221) 8px 8px 0px, rgb(66, 162, 228) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(68, 167, 235);"></i> 
     

    <i id="sisi-udara" class="fa fa-fire-extinguisher m-2" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 122, 172) 1px 1px 0px, rgb(52, 127, 179) 2px 2px 0px, rgb(54, 132, 186) 3px 3px 0px, rgb(56, 137, 193) 4px 4px 0px, rgb(58, 142, 200) 5px 5px 0px, rgb(60, 147, 207) 6px 6px 0px, rgb(62, 152, 214) 7px 7px 0px, rgb(64, 157, 221) 8px 8px 0px, rgb(66, 162, 228) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(68, 167, 235);"></i> 
     



    <i id="semua-peralatan" class="fa fa-th-large m-2" style="text-shadow: rgb(132, 91, 179) 0px 0px 0px, rgb(137, 95, 186) 1px 1px 0px, rgb(143, 99, 194) 2px 2px 0px, rgb(149, 103, 201) 3px 3px 0px, rgb(154, 107, 209) 4px 4px 0px, rgb(160, 111, 217) 5px 5px 0px, rgb(165, 114, 224) 6px 6px 0px, rgb(171, 118, 232) 7px 7px 0px, rgb(177, 122, 240) 8px 8px 0px, rgb(182, 126, 247) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(188, 130, 255);"></i> 
     



    <i id="sisi-darat" class="fa fa-hotel m-2" style="text-shadow: rgb(179, 78, 142) 0px 0px 0px, rgb(186, 82, 148) 1px 1px 0px, rgb(194, 85, 154) 2px 2px 0px, rgb(201, 88, 160) 3px 3px 0px, rgb(209, 92, 166) 4px 4px 0px, rgb(217, 95, 173) 5px 5px 0px, rgb(224, 99, 179) 6px 6px 0px, rgb(232, 102, 185) 7px 7px 0px, rgb(240, 105, 191) 8px 8px 0px, rgb(247, 109, 197) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(255, 112, 203);"></i> 


    <i id="yandar" class="fa fa-fire-extinguisher m-2" style="text-shadow: rgb(179, 55, 97) 0px 0px 0px, rgb(186, 58, 101) 1px 1px 0px, rgb(194, 60, 105) 2px 2px 0px, rgb(201, 62, 109) 3px 3px 0px, rgb(209, 65, 113) 4px 4px 0px, rgb(217, 67, 117) 5px 5px 0px, rgb(224, 70, 121) 6px 6px 0px, rgb(232, 72, 126) 7px 7px 0px, rgb(240, 74, 130) 8px 8px 0px, rgb(247, 77, 134) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(255, 79, 138);"></i> 

     

     <i id="grafik" class="fas fa-chart-bar m-2" style="text-shadow: rgb(179, 142, 41) 0px 0px 0px, rgb(186, 148, 43) 1px 1px 0px, rgb(194, 154, 45) 2px 2px 0px, rgb(201, 160, 47) 3px 3px 0px, rgb(209, 166, 48) 4px 4px 0px, rgb(217, 173, 50) 5px 5px 0px, rgb(224, 179, 52) 6px 6px 0px, rgb(232, 185, 54) 7px 7px 0px, rgb(240, 191, 55) 8px 8px 0px, rgb(247, 197, 57) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(255, 203, 59);"></i> 


     <i id="suku-cadang" class="fab fa-steam-symbol m-2" style="text-shadow: rgb(3, 152, 92) 0px 0px 0px, rgb(3, 158, 96) 1px 1px 0px, rgb(3, 165, 100) 2px 2px 0px, rgb(3, 171, 104) 3px 3px 0px, rgb(3, 178, 108) 4px 4px 0px, rgb(3, 184, 112) 5px 5px 0px, rgb(4, 191, 116) 6px 6px 0px, rgb(4, 197, 120) 7px 7px 0px, rgb(4, 204, 124) 8px 8px 0px, rgb(4, 210, 128) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(4, 217, 132);"></i> 
     
                    
      </div>

   
      <div class="col-lg-7 mr-auto col-md-12">
        <!-- Card -->
<div class="card weather-card">

    <!-- Card content -->
    <div class="card-body pb-3">
  
      <!-- Title -->
      <h4 class="card-title font-weight-bold">Warsaw</h4>
      <!-- Text -->
      <p class="card-text">Mon, 12:30 PM, Mostly Sunny</p>
      <div class="d-flex justify-content-between">
        <p class="display-1 degree">23</p>
        <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
      </div>
      <div class="d-flex justify-content-between mb-4">
        <p><i class="fas fa-tint fa-lg text-info pr-2"></i>3% Precipitation</p>
        <p><i class="fas fa-leaf fa-lg grey-text pr-2"></i>21 hm/h Winds</p>
      </div>
      <div class="progress md-progress">
        <div class="progress-bar black" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <ul class="list-unstyled d-flex justify-content-between font-small text-muted mb-4">
        <li class="pl-4">8AM</li>
        <li>11AM</li>
        <li>2PM</li>
        <li>5PM</li>
        <li class="pr-4">8PM</li>
      </ul>
  
      <div class="collapse-content">
  
        <div class="collapse" id="collapseExample">
  
          <table class="table table-borderless table-sm mb-0">
            <tbody>
              <tr>
                <td class="font-weight-normal align-middle">Tuesday</td>
                <td class="float-right font-weight-normal">
                  <p class="mb-1">24&deg;<span class="text-muted">/12&deg;</span></p>
                </td>
                <td class="float-right mr-3">
                  <i class="fas fa-sun fa-lg amber-text"></i>
                </td>
              </tr>
              <tr>
                <td class="font-weight-normal align-middle">Wednesday</td>
                <td class="float-right font-weight-normal">
                  <p class="mb-1">19&deg;<span class="text-muted">/10&deg;</span></p>
                </td>
                <td class="float-right mr-3">
                  <i class="fas fa-cloud-sun-rain fa-lg text-info"></i>
                </td>
              </tr>
              <tr>
                <td class="font-weight-normal align-middle">Thursday</td>
                <td class="float-right font-weight-normal">
                  <p class="mb-1">23&deg;<span class="text-muted">/15&deg;</span></p>
                </td>
                <td class="float-right mr-3">
                  <i class="fas fa-sun fa-lg amber-text"></i>
                </td>
              </tr>
              <tr>
                <td class="font-weight-normal align-middle">Friday</td>
                <td class="float-right font-weight-normal">
                  <p class="mb-1">26&deg;<span class="text-muted">/19&deg;</span></p>
                </td>
                <td class="float-right mr-3">
                  <i class="fas fa-sun fa-lg amber-text"></i>
                </td>
              </tr>
              <tr>
                <td class="font-weight-normal align-middle">Saturday</td>
                <td class="float-right font-weight-normal">
                  <p class="mb-1">20&deg;<span class="text-muted">/16&deg;</span></p>
                </td>
                <td class="float-right mr-3">
                  <i class="fas fa-cloud fa-lg text-info"></i>
                </td>
              </tr>
              <tr>
                <td class="font-weight-normal align-middle">Sunday</td>
                <td class="float-right font-weight-normal">
                  <p class="mb-1">22&deg;<span class="text-muted">/13&deg;</span></p>
                </td>
                <td class="float-right mr-3">
                  <i class="fas fa-cloud-sun fa-lg text-info"></i>
                </td>
              </tr>
            </tbody>
          </table>
  
        </div>
  
        <hr class="">
  
          <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 deep-purple-text collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></a>
  
      </div>
  
    </div>
  
  </div>
  <!-- Card -->





  

                     
 
                  </div>
                  <!-- Grid column -->

              </div>
              <!-- Grid row -->

</section>

