
<section class="section mt-5 mb-5 py-3">
  <div class="row pt-2 mt-5">
    
    <div class="col-lg-5 col-md-12 mb-3">

      

        <a [routerLinkActive]="['active']" [routerLink]="['./semua-peralatan']">
          <i id="semua-peralatan" class="fab fa-hubspot m-2" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 122, 172) 1px 1px 0px, rgb(52, 127, 179) 2px 2px 0px, rgb(54, 132, 186) 3px 3px 0px, rgb(56, 137, 193) 4px 4px 0px, rgb(58, 142, 200) 5px 5px 0px, rgb(60, 147, 207) 6px 6px 0px, rgb(62, 152, 214) 7px 7px 0px, rgb(64, 157, 221) 8px 8px 0px, rgb(66, 162, 228) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(68, 167, 235);"></i> 
        </a>

        <a [routerLinkActive]="['active']" [routerLink]="['./sisi-udara']">
          <i id="peralatan-sisi-udara" class="fas fa-satellite-dish m-2" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 122, 172) 1px 1px 0px, rgb(52, 127, 179) 2px 2px 0px, rgb(54, 132, 186) 3px 3px 0px, rgb(56, 137, 193) 4px 4px 0px, rgb(58, 142, 200) 5px 5px 0px, rgb(60, 147, 207) 6px 6px 0px, rgb(62, 152, 214) 7px 7px 0px, rgb(64, 157, 221) 8px 8px 0px, rgb(66, 162, 228) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(68, 167, 235);"></i> 
        </a>

        <a [routerLinkActive]="['active']" [routerLink]="['./sisi-darat']">
          <i id="peralatan-sisi-darat" class="fas fa-charging-station m-2" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 122, 172) 1px 1px 0px, rgb(52, 127, 179) 2px 2px 0px, rgb(54, 132, 186) 3px 3px 0px, rgb(56, 137, 193) 4px 4px 0px, rgb(58, 142, 200) 5px 5px 0px, rgb(60, 147, 207) 6px 6px 0px, rgb(62, 152, 214) 7px 7px 0px, rgb(64, 157, 221) 8px 8px 0px, rgb(66, 162, 228) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(68, 167, 235);"></i> 
        </a>

        <a [routerLinkActive]="['active']" [routerLink]="['./yandar']">
          <i id="peralatan-yandar" class="fas fa-ambulance m-2" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 122, 172) 1px 1px 0px, rgb(52, 127, 179) 2px 2px 0px, rgb(54, 132, 186) 3px 3px 0px, rgb(56, 137, 193) 4px 4px 0px, rgb(58, 142, 200) 5px 5px 0px, rgb(60, 147, 207) 6px 6px 0px, rgb(62, 152, 214) 7px 7px 0px, rgb(64, 157, 221) 8px 8px 0px, rgb(66, 162, 228) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(68, 167, 235);"></i> 
        </a>

        <a [routerLinkActive]="['active']" [routerLink]="['./kerusakan-perbaikan']">
          <i id="kerusakan-perbaikan" class="fas fa-tools m-2" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 122, 172) 1px 1px 0px, rgb(52, 127, 179) 2px 2px 0px, rgb(54, 132, 186) 3px 3px 0px, rgb(56, 137, 193) 4px 4px 0px, rgb(58, 142, 200) 5px 5px 0px, rgb(60, 147, 207) 6px 6px 0px, rgb(62, 152, 214) 7px 7px 0px, rgb(64, 157, 221) 8px 8px 0px, rgb(66, 162, 228) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(68, 167, 235);"></i> 
        </a>

        <a [routerLinkActive]="['active']" [routerLink]="['./suku-cadang']">
          <i id="suku-cadang" class="fab fa-steam-square m-2" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 122, 172) 1px 1px 0px, rgb(52, 127, 179) 2px 2px 0px, rgb(54, 132, 186) 3px 3px 0px, rgb(56, 137, 193) 4px 4px 0px, rgb(58, 142, 200) 5px 5px 0px, rgb(60, 147, 207) 6px 6px 0px, rgb(62, 152, 214) 7px 7px 0px, rgb(64, 157, 221) 8px 8px 0px, rgb(66, 162, 228) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(68, 167, 235);"></i> 
        </a>

        <a [routerLinkActive]="['active']" [routerLink]="['./monitoring']">
          <i id="monitoring" class="fas fa-chalkboard-teacher m-2" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 122, 172) 1px 1px 0px, rgb(52, 127, 179) 2px 2px 0px, rgb(54, 132, 186) 3px 3px 0px, rgb(56, 137, 193) 4px 4px 0px, rgb(58, 142, 200) 5px 5px 0px, rgb(60, 147, 207) 6px 6px 0px, rgb(62, 152, 214) 7px 7px 0px, rgb(64, 157, 221) 8px 8px 0px, rgb(66, 162, 228) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(68, 167, 235);"></i> 
        </a>

        <a [routerLinkActive]="['active']" [routerLink]="['./kalibrasi']">
          <i id="kalibrasi" class="fas fa-drafting-compass m-2" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 122, 172) 1px 1px 0px, rgb(52, 127, 179) 2px 2px 0px, rgb(54, 132, 186) 3px 3px 0px, rgb(56, 137, 193) 4px 4px 0px, rgb(58, 142, 200) 5px 5px 0px, rgb(60, 147, 207) 6px 6px 0px, rgb(62, 152, 214) 7px 7px 0px, rgb(64, 157, 221) 8px 8px 0px, rgb(66, 162, 228) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(68, 167, 235);"></i> 
        </a>

        <a [routerLinkActive]="['active']" [routerLink]="['./sertifikasi']">
          <i id="sertifikasi" class="fas fa-edit m-2" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 122, 172) 1px 1px 0px, rgb(52, 127, 179) 2px 2px 0px, rgb(54, 132, 186) 3px 3px 0px, rgb(56, 137, 193) 4px 4px 0px, rgb(58, 142, 200) 5px 5px 0px, rgb(60, 147, 207) 6px 6px 0px, rgb(62, 152, 214) 7px 7px 0px, rgb(64, 157, 221) 8px 8px 0px, rgb(66, 162, 228) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(68, 167, 235);"></i> 
        </a>

        <a [routerLinkActive]="['active']" [routerLink]="['./verifikasi']">
          <i id="verifikasi" class="fas fa-diagnoses m-2" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(50, 122, 172) 1px 1px 0px, rgb(52, 127, 179) 2px 2px 0px, rgb(54, 132, 186) 3px 3px 0px, rgb(56, 137, 193) 4px 4px 0px, rgb(58, 142, 200) 5px 5px 0px, rgb(60, 147, 207) 6px 6px 0px, rgb(62, 152, 214) 7px 7px 0px, rgb(64, 157, 221) 8px 8px 0px, rgb(66, 162, 228) 9px 9px 0px; font-size: 71px; color: rgb(255, 255, 255); height: 111px; width: 111px; line-height: 111px; border-radius: 14%; text-align: center; background-color: rgb(68, 167, 235);"></i> 
        </a>

                    
      </div>

   
      <div class="col-lg-7 mr-auto col-md-12">
          <router-outlet></router-outlet>
      </div>


</div>
</section>

