<section>
<!-- Nav tabs -->
<mdb-tabset [buttonClass]="'pills-secondary white mb-2'" [contentClass]="'card'">
    <!--Panel 1-->
    <mdb-tab heading="TAMBAH DATA PERALATAN">
      <div class="row">
        <div class="col-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta
            doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora,
            placeat ratione porro voluptate odit minima.</p>
        </div>
      </div>
    </mdb-tab>
    <!--Panel 2-->
    <mdb-tab heading="LIST PERALATAN">
      <div class="row">
        <div class="col-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta
            doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora,
            placeat ratione porro voluptate odit minima.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta
            doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora,
            placeat ratione porro voluptate odit minima.</p>
        </div>
      </div>
    </mdb-tab>
    <!--Panel 3-->
    <mdb-tab heading="PERFORMANCE ANALISA">
      <div class="row">
        <div class="col-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta
            doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora,
            placeat ratione porro voluptate odit minima.</p>
        </div>
      </div>
    </mdb-tab>
  </mdb-tabset>
  </section>
