
<section class="section mt-5 mb-5 py-3">
  <div class="row pt-2 mt-5">
    <div class="col-md-6">
        <div class="row text-white">
                <a class="col-3 text-center text-white btn btn-flat btn-info active" role="button" aria-pressed="true">
                    <i class="fas fa-th-large fa-4x"></i><br> <span class="text-sm d-none d-lg-block">SEMUA PERALATAN</span>
                </a>

                <a class="col-3 text-center text-white btn btn-flat btn-info" role="button" aria-pressed="true">
                    <i class="fas fa-satellite-dish fa-4x"></i><br> <span class="text-sm d-none d-lg-block">PERALATAN SISI UDARA</span>
                </a>

                <a class="col-3 text-center text-white btn btn-flat btn-info" role="button" aria-pressed="true">
                    <i class="fas fa-charging-station fa-4x"></i><br> <span class="text-sm d-none d-lg-block">PERALATAN SISI DARAT</span>
                </a>

                <a class="col-3 text-center text-white btn btn-flat btn-info" role="button" aria-pressed="true">
                    <i class="fas  fa-fire-extinguisher fa-4x"></i><br> <span class="text-sm d-none d-lg-block">PERALATAN PKP -PK</span>
                </a>

                <a class="col-3 text-center text-white btn btn-flat btn-info" role="button" aria-pressed="true">
                    <i class="fab fa-steam-symbol fa-4x"></i><br> <span class="text-sm d-none d-lg-block">SUKU CADANG</span>
                </a>

                <a class="col-3 text-white btn btn-flat btn-info" role="button" aria-pressed="true">
                    <i class="fas fa-tools fa-4x"></i><br> <span class="text-sm d-none d-lg-block">KERUSAKAN & PERBAIKAN</span>
                </a>

                <a class="col-3 text-center text-white btn btn-flat btn-info" role="button" aria-pressed="true">
                    <i class="fas fa-edit fa-4x"></i><br> <span class="text-sm d-none d-lg-block">SERTIFIKASI PERALATAN</span>
                </a>

                <a class="col-3 text-center text-white btn btn-flat btn-info" role="button" aria-pressed="true">
                    <i class="fas fa-diagnoses fa-4x"></i><br> <span class="text-sm d-none d-lg-block">VERIFIKASI PERLATAN</span>
                </a>

                <a class="col-3 text-center text-white btn btn-flat btn-info" role="button" aria-pressed="true">
                    <i class="fas fa-drafting-compass fa-4x"></i><br> <span class="text-sm d-none d-lg-block">KALIBRASI PERALATAN</span>
                </a>
        </div>          
    </div>

   
    <div class="col-md-6">

                     
                      <h3 class="mb-5 dark-grey-text title font-weight-bold wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
                          <strong>PERSONIL</strong>
                      </h3>

                      <!-- Description -->
                      <p align="justify" class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione quisquam, dicta
                          ab cupiditate iure eaque? Repellendus voluptatum, magni impedit delectus, beatae maxime temporibus
                          maiores quibusdam.</p>
                      <p align="justify" class="grey-text">Rem magnam ad perferendis iusto sint tempora ea voluptatibus iure, animi excepturi modi aut possimus
                          in hic molestias repellendus illo ullam odit quia velit. Lorem ipsum dolor sit amet, consectetur
                          adipisicing elit.</p>
                      <p align="justify" class="grey-text mb-5">Incidunt eligendi mollitia labore ipsum ex fugit explicabo saepe error neque beatae in, expedita
                          eveniet quae aliquam assumenda voluptatibus!</p>

                  </div>
                 

    </div>
             

</section>

