<div class="row text-sm">
    <div class="col-12 text-left">
        <h4 class="text-info"><strong>PERALATAN SISI UDARA</strong></h4>
        <div class="d-flex flex-wrap">
            <button mdbBtn type="button" class="buttonFilterContent d-inline-block" id="rekap-peralatan-sisi-udara" size="sm" mdbWavesEffect (click)="filterContent($event);">DASHBOARD</button>
            <button mdbBtn type="button" class="buttonFilterContent d-inline-block" id="list-peralatan-sisi-udara" size="sm" mdbWavesEffect (click)="filterContent($event);">LIST PERALATAN</button>
            <button mdbBtn type="button" class="buttonFilterContent d-inline-block" id="print-peralatan-sisi-udara" size="sm" mdbWavesEffect (click)="filterContent($event);">PRINT DATA</button>
            <button mdbBtn type="button" class="buttonFilterContent d-inline-block" id="add-peralatan-sisi-udara" size="sm" mdbWavesEffect  (click)="filterContent($event);">PERALATAN BARU</button>
        </div>
    </div>     
</div> 

<div class="row">
    <div class="col-12" *ngIf="(currentActiveSection === 'list-peralatan-sisi-udara')">
        <shared-peralatan-sisi-udara-read></shared-peralatan-sisi-udara-read>
    </div>

    <div class="col-12" *ngIf="(currentActiveSection === 'print-peralatan-sisi-udara')">
        <shared-peralatan-sisi-udara-print></shared-peralatan-sisi-udara-print>
    </div>

    <div class="col-12" *ngIf="(currentActiveSection === 'add-peralatan-sisi-udara')">
        <shared-peralatan-sisi-udara-create></shared-peralatan-sisi-udara-create>
    </div>

</div>
