<div class="row text-sm">
  <div class="col-12 text-left">
      <h4 class="text-pink"><strong>FASILITAS PERALATAN SISI UDARA</strong></h4>
      <div class="d-flex flex-wrap">
        
          <button mdbBtn type="button" class="buttonFilterContent d-inline-block" id="list-peralatan-sisi-udara" size="sm" mdbWavesEffect (click)="filterContent($event);">REVIEW DATA</button>
          <button mdbBtn type="button" class="buttonFilterContent d-inline-block" id="add-peralatan-sisi-udara" size="sm" mdbWavesEffect  (click)="filterContent($event);">DATA BARU</button>
      </div>
  </div>     
</div> 

<div class="row">
  <div class="col-12" *ngIf="(currentActiveSection === 'list-peralatan-sisi-udara')">
     <app-su-read></app-su-read>
  </div>



  <div class="col-12" *ngIf="(currentActiveSection === 'add-peralatan-sisi-udara')">
    <app-su-create></app-su-create>
  </div>

</div>
